.editUserSection {
    max-width: 350px;
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: column;
    border: 1px solid var(--color-primary);
    border-radius: 12px;
    padding: 26px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.subheader {
    font-size: var(--font-size-regular);
    color: var(--color-primary);
    width: 100%;
    border-bottom: 0.8px solid var(--color-primary);
}

.paragraph {
    font-size: var(--font-size-small);
    color: var(--color-primary);
    text-decoration: underline;
}

.label {
    font-size: var(--font-size-small);
    color: var(--color-primary);
}

.input {
    font-size: var(--font-size-small);
    color: var(--color-primary);
}

.btn {
    font-size: var(--font-size-small);
}
