.main {
    padding: 32px;
}

.header {
    font-size: 38px;
    font-family: var(--font-italic);
    color: var(--text-color-accent);
    padding: 0;
    margin: 6px 0 18px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input {
    width: 100%;
}

.label {
    font-size: var(--font-size-regular);
}

.labelOptional {
    font-size: var(--font-size-extra-small);
}

.submitBtn {
    margin-top: 6px;
}
